<template name="dashboard">
        <div class="row">
            <div class="col-lg-4">
                <section class="panel text-center">
                    <div class="panel-body">
                        <a href="{{pathFor 'current_trip'}}" class="btn btn-primary btn-lg">
                            <i class="fa fa-road"></i>
                            Go for a ride
                        </a>
                        <div class="line m-l m-r"></div>
                        <small>Your last ride was on 28 sep 2014</small>
                    </div>
                </section>
            </div>
        </div>
</template>
