<template name="navigation">
    <nav id="nav" class="nav-primary hidden-xs nav-vertical">
        <ul class="nav" data-spy="affix" data-offset-top="50">
            <li class="active"><a href="{{pathFor 'dashboard'}}"><i class="fa fa-dashboard fa-lg"></i><span>Dashboard</span></a></li>
            <li><a href="{{pathFor 'trips'}}"><i class="fa fa-road fa-lg"></i><span>Trips</span></a></li>
            <li><a href="{{pathFor 'friends'}}"><i class="fa fa-users fa-lg"></i><span>Friends</span></a></li>
        </ul>
    </nav>
</template>
